doctype html
html
	head
		title 404 Page Not Found
		meta(name = "description", content = "The page you are looking for does not exist.")
		include ./includes/head.pug
		link(rel = "stylesheet" href = "/stylesheets/404.min.css")
	body
		include ./includes/header.pug
		main
			img#titleImage(src = "/images/vertigo-logo.svg")
			p.
				The page you requested cannot be found.
		include ./includes/footer.pug