doctype html
html
	head
		title About 6287
		meta(name = "description", content = "Information about the Vertigo team members.")
		include ./includes/head.pug
		if env == "development"
			link(rel = "stylesheet" href = "./../stylesheets/about.min.css" )
		else
			link(rel = "stylesheet" href = "./stylesheets/about.min.css" )
		-var title = "about";
	body
		include ./includes/header.pug
		main#mainContent
			if env == "development"
				img#titleImage(src = "./../images/about-team.svg")
			else
				img#titleImage(src = "./images/about-team.svg")

			h2 Brendan Chay
			p.
				Brendan Chay is the founder, co-captain, and lead programmer of Vertigo. He is currently a junior at Highland Park High School, and is participating in his third season of FTC. He loves programming, and is proficient in a large number of languages. Aside from programming, he helps maintain the engineering notebook and works to keep the team functioning as a cohesive unit. Brendan enjoys volunteering for FTC events, and has worked for numerous volunteer positions. He can be found on the FTC forums as Bchay, and the FTC subreddit as FTCHELP.
			h2 Benny Cohen
			h2 Adam Kramer
			h2 Kurt Plonsker
			h2 Arda Sonmez
			h2 Lev Grosshandler
			h2 Will Nawor
			h2 Daniel Bergman
			h2 Jake Reisner
			h2 Jonathan Weiland
			p.
				Mr. Weiland is the mentor for Vertigo, as well as being the coaffiliate partner for FTC in Illinois.
			h2 Kunal Pujara
			h2 Sue Stephenitch
		include ./includes/footer.pug