doctype html
html
	head
		title About 6287
		meta(name = "description", content = "Information about the Vertigo team members.")
		include ./includes/head.pug
		if env == "development"
			link(rel = "stylesheet" href = "./../stylesheets/about.min.css" )
		else
			link(rel = "stylesheet" href = "./stylesheets/about.min.css" )
		-var title = "about";
	body
		include ./includes/header.pug
		main#mainContent
			if env == "development"
				img#titleImage(src = "./../images/about-team.svg")
				img.memberPhoto(src = "./../images/Full Team Photo - League Meet 1.jpg")
			else
				img#titleImage(src = "./images/about-team.svg")
				img.memberPhoto(src = "./images/Full Team Photo - League Meet 1.jpg")

			h2 Adam Kramer
			if env == "development"
				img.memberPhoto(src = "./../images/Adam.jpg")
			else
				img.memberPhoto(src = "./images/Adam.jpg")
			p.
				Adam Kramer is the lead CADer on Vertigo. He is currently a sophomore at Highland park High School, and is participating in his first season in FTC. When he was younger, he always enjoyed building things. This passion led him to join the HPHS robotics club, where he fit in perfectly with Vertigo. In his free time, Adam enjoys tennis and skiing.

			h2 Arda Sonmez
			if env == "development"
				img.memberPhoto(src = "./../images/Arda.jpg")
			else
				img.memberPhoto(src = "./images/Arda.jpg")
			p.
				Arda Sonmez is a builder in Vertigo. He is a junior and it is his second year participating in FTC. As a child, Arda constantly spent time in his garage building something new. This passion led to an interest in the STEM field, which eventually caused him to join Highland Park robotics and made his passion grow. When he grows up, become an aerospace engineer.

			h2 Benny Cohen
			if env == "development"
				img.memberPhoto(src = "./../images/Benny.jpg")
			else
				img.memberPhoto(src = "./images/Benny.jpg")
			p.
				Benny Cohen is the founder, co-captain, and lead builder of Vertigo. He is currently a sophomore at Highland Park High School, and is in his second season in FTC. Growing up, he had always been building and playing with Legos, Kinex, Gears, and Erector sets in an attempt to make his unique ideas come to life. He has a strong interest in Mathematics, Science and Music, and as such is on the HPHS Math team. Moreover, he plays the piano as a hobby. His passion for engineering exploded during his first year in FTC when he was on team 5452 Robot to the Knee. His knowledge of FTC and strong leadership skills allowed him, alongside his co-captain Brendan, to form Vertigo.

			h2 Brendan Chay
			if env == "development"
				img.memberPhoto(src = "./../images/Brendan.jpg")
			else
				img.memberPhoto(src = "./images/Brendan.jpg")
			p.
				Brendan Chay is the founder, co-captain, and lead programmer of Vertigo. He is currently a junior at Highland Park High School, and is participating in his third season of FTC. He loves programming, and is proficient in a large number of languages. Aside from programming, he helps maintain the engineering notebook and works to keep the team functioning as a cohesive unit. Brendan enjoys volunteering for FTC competitions, and has worked for numerous volunteer positions. He can be found on the official FTC forums and the FTC subreddit, where he helps other teams with various problems that arise. In past years, Brendan was a member of 4442 Robotics Done Right and 3785 Beastie Bots. This year, he decided that the best method of success was to form a new team, a plan which eventually resulted in the creation of Vertigo.

			h2 Daniel Bergman
			if env == "development"
				img.memberPhoto(src = "./../images/Daniel.jpg")
			else
				img.memberPhoto(src = "./images/Daniel.jpg")
			p.
				Daniel Bergman is a builder on Vertigo. He is currently a sophomore at Highland Park High School, and is participating in his second season of FTC. As a kid, he was interested in engineering and science, and he enjoyed exploring those topics when he was younger. His biggest interests include mathematics and science. Last year, he was a member of team 4442 where gained experience with FTC and grew his passion for engineering. After a great year of robotics, he decided to join Vertigo to bolster this growing passion.

			h2 Jake Reisner
			if env == "development"
				img.memberPhoto(src = "./../images/Jake.jpg")
			else
				img.memberPhoto(src = "./images/Jake.jpg")
			p.
				Jake Reisner is a programmer on Vertigo, and part-time swimmer. He is currently a sophomore at Highland Park High School, and is participating in his first season of FTC. When he’s not in the pool, Jake is helping build the brains of Vertigo’s robot. He has always loved programming, and is fascinated by Computer Science. His passion for coding was independent before joining the team, but then it flourished in the exciting new field of robotics. He decided that robotics was a place for him, because he could be a part of a team, working with others to create something amazing.

			h2 Kurt Plonsker
			if env == "development"
				img.memberPhoto(src = "./../images/Kurt.jpg")
			else
				img.memberPhoto(src = "./images/Kurt.jpg")
			p.
				Kurt Plonsker is a builder on Vertigo. He is currently a sophomore at Highland Park High School, and is participating in his second FTC season. Growing up, he always had a passion for the sciences and loved taking apart different computers to see what made them work. When he was in middle school, he participated in the FIRST Lego League where he was able to get his feet wet as he experienced the designing and building process for the first time. Last year, he was a member of team 4442 where he learned more about the engineering process and gracious professionalism. Kurt has a twin brother and enjoys playing tennis and soccer at Highland Park.

			h2 Lev Grosshandler
			if env == "development"
				img.memberPhoto(src = "./../images/Lev.jpg")
			else
				img.memberPhoto(src = "./images/Lev.jpg")
			p.
				Lev is a member of the PR subteam. His responsibilities include running the various social media pages of the robotics team, as well as finding outreach opportunities. He also helps run the engineering notebook with Will. He’s currently a junior at Highland Park, and this is his first year as part of the robotics team.

			h2 Will Nawor
			if env == "development"
				img.memberPhoto(src = "./../images/Will.jpg")
			else
				img.memberPhoto(src = "./images/Will.jpg")
			p.
				Will is the head of public relations for Vertigo, and his responsibilities include finding sponsors, editing the engineering notebook, finding outreach events, and helping organize the team’s Facebook page. He is currently a junior at Highland Park High School, and this is his second season of FTC. Last year, he was on Beastie Bots, but decided to join Vertigo when they disbanded.  In addition to robotics, he belongs to numerous other clubs including Science Olympiad, Math Team and DECA. In his free time, Will likes watching and playing soccer.

			h2 Kunal Pujara
			if env == "development"
				img.memberPhoto(src = "./../images/Pujara.jpg")
			else
				img.memberPhoto(src = "./images/Pujara.jpg")
			p.
				Mr. Pujara has been an assistant sponsor of HP Robotics since 2014.  Mr. Pujara currently teaches AP Physics and Physics Honors and is in his 23rd year of teaching at HPHS. Mr. Pujara earned his BA in Physics and English from Rutgers University (1991), his MA in Physics (Nuclear Physics research) from Duke University (1993) and his MAT in teaching Mathematics and Physics from Duke University (1994).  In the past 23 years, he has been a sponsor of Science Club (1995-1997), WYSE (Worldwide Youth in Science and Engineering) (1995-1997), Chess Club (1996-2001), Ultimate Frisbee (1995-2009 and 2016 to present).  Out of all of these experiences, Mr. Pujara feels that FIRST Robotics is the best preparation for students to engage in solving real-world challenges.

			h2 Sue Stephenitch
			if env == "development"
				img.memberPhoto(src = "./../images/Stephenitch.jpg")
			else
				img.memberPhoto(src = "./images/Stephenitch.jpg")
			p.
				Mrs. Stephenitch has been teaching science for 31 years. She is a Freshman Physics teacher at Highland Park High School, and has been helping Robotics for 4 years.She has been amazed at the skill development and innovation seen during the construction of the robots and during competition. She believes that the core values of Robotics are at the very heart of being a great human being and a valuable future employee. Watching individuals stop what they are doing to help another team, both at HPHS and tournaments, makes her proud to be involved in FIRST!

			h2 Jonathan Weiland
			if env == "development"
				img.memberPhoto(src = "./../images/Weiland.jpg")
			else
				img.memberPhoto(src = "./images/Weiland.jpg")
			p.
				Mr. Weiland has been a mentor for a variety of FTC teams over the last eight years.  These teams have attended the World Championships and been the Illinois State Champion three times.  They have attended three Super Regional tournaments, in the North division. He always stresses to his students that the climb is more important than the summit. Mr. Weiland is a biology teacher who fills his room with the robots and robot equipment. He also oversees the FIRST Tech Challenge program for the state of Illinois.  He raised almost $400,000 for the FIRST Tech challenge in the state of Illinois. In his 10 years of involvement in FIRST, the program has grown from 24 teams to over 150 teams.

		include ./includes/footer.pug