doctype html
html
	head
		title About 6287
		meta(name = "description", content = "Information about the Vertigo team members.")
		include ./includes/head.pug
		if env == "development"
			link(rel = "stylesheet" href = "./../stylesheets/about.min.css" )
		else
			link(rel = "stylesheet" href = "./stylesheets/about.min.css" )
		-var title = "about";
	body
		include ./includes/header.pug
		main#mainContent
			if env == "development"
				img#titleImage(src = "./../images/about-team.svg")
			else
				img#titleImage(src = "./images/about-team.svg")

			h2 Adam Kramer
			p.
				 Adam Kramer is the lead CADer on Vertigo. He is currently a sophomore at Highland park High School, and is participating in his first season in FTC. When he was younger, he always enjoyed building things. This passion led him to join the HPHS robotics club, where he fit in perfectly with Vertigo.

			h2 Arda Sonmez

			h2 Benny Cohen
			p.
				Benny Cohen is the founder, co-captain, and lead builder of Vertigo. He is currently a sophomore at Highland park High School, and is in his second season in FTC. Growing up, he had always been building and playing with Legos in an attempt to make his interesting ideas come to life. His passion for engineering exploded during his first year in  FTC when he was on team 5452 Robot to the Knee. After his first season, he decided it was time to create a new team. He worked with his co-captain Brendan Chay in forming one, which has given nine members the chance to be a part of this extraordinary engineering experience. After months of collaboration, Benny and Brendan were able to see a new team come to life. They worked together to find the best engineers and programmers at HPHS to be a part of this team. 

			h2 Brendan Chay
			p.
				Brendan Chay is the founder, co-captain, and lead programmer of Vertigo. He is currently a junior at Highland Park High School, and is participating in his third season of FTC. He loves programming, and is proficient in a large number of languages. Aside from programming, he helps maintain the engineering notebook and works to keep the team functioning as a cohesive unit. Brendan enjoys volunteering for FTC competitions, and has worked for numerous volunteer positions. He can be found on the official FTC forums and the FTC subreddit, where he enjoys helping other teams with various problems that arise. In past years, Brendan was a member of 4442 Robotics Done Right and 3785 Beastie Bots. This year, he decided that the best method of success was to form a new team comprised of the best of the best - a team that would become known as Vertigo. Working alongside Benny Cohen, a team was assembled that would be able to accomplish great things.

			h2 Daniel Bergman
			h2 Jake Reisner
			h2 Kurt Plonsker
			h2 Lev Grosshandler
			h2 Will Nawor
			h2 Kunal Pujara

			h2 Sue Stephenitch
			p.
				Mrs. Stephenitch has been teaching science for 31 years. She is a Freshman Physics teacher at Highland Park High School, and has been helping Robotics for 4 years.She has been amazed at the skill development and innovation seen during the construction of the robots and during competition. She believes that the core values of Robotics are at the very heart of being a great human being and a valuable future employee. Watching individuals stop what they are doing to help another team, both at HPHS and tournaments, makes her proud to be involved in FIRST!

			h2 Jonathan Weiland
			p.
				Mr. Weiland has been a mentor for a variety of FTC teams over the last eight years.  These teams have attended the World Championships and been the Illinois State Champion three times.  They have attended three Super Regional tournaments, in the North division. He always stresses to his students that the climb is more important than the summit. Mr. Weiland is a biology teacher who fills his room with the robots and robot equipment. He also oversees the FIRST Tech Challenge program for the state of Illinois.  He raised almost $400,000 for the FIRST Tech challenge in the state of Illinois. In his 10 years of involvement in FIRST, the program has grown from 24 teams to over 150 teams.

		include ./includes/footer.pug