doctype html
html
	head
		title About 6287
		include ./includes/head.pug
		if env == "development"
			link(rel = "stylesheet" href = "./../stylesheets/about.min.css" )
		else
			link(rel = "stylesheet" href = "./stylesheets/about.min.css" )
		-var title = "about";
	body
		include ./includes/header.pug
		main#mainContent
			if env == "development"
				img#titleImage(src = "./../images/about-team.svg")
			else
				img#titleImage(src = "./images/about-team.svg")

			h2 Brendan Chay
			p.
				Brendan Chay is the founder, co-captain, and lead programmer of Vertigo. He is currently a junior at Highland Park High School, and is participating in his third season of FTC. He loves programming, and is most proficient in Java, Javascript, and NodeJS. Brendan enjoys volunteering for FTC events, and has worked as a Software Inspector, CSA, FTAA, and Field Inspector.
			h2 Benny Cohen
			h2 Adam Kramer
			h2 Kurt Plonsker
			h2 Arda Sonmez
			h2 Jonothan Weiland
			p.
				Mr. Weiland is the mentor for Vertigo, as well as being the coaffiliate partner for FTC in Illinois.
		include ./includes/footer.pug