doctype html
html
	head
		title Vertigo 6287
		include ./includes/head.pug
		link(rel = "stylesheet" href = "./../stylesheets/index.min.css")
		-var title = "index";
	body
		include ./includes/header.pug
		main
			img#titleImage(src = "./../images/vertigo-logo.svg")
			p.
				Vertigo is a First Tech Challenge team affiliated with Highland Park High School in Illinois. Though the 2016-2017 season is the team's initial forray into FIRST, the team is comprised of both seasoned veterans as well as new faces.
		include ./includes/footer.pug