doctype html
html
	head
		title Vertigo FTC Team 6287
		meta(name = "description", content = "Welcome to the website of Vertigo, FTC robotics team 6287 from Highland Park, Illinois.")
		include ./includes/head.pug
		if env == "development"
			link(rel = "stylesheet" href = "./../stylesheets/index.min.css")
		else
			link(rel = "stylesheet" href = "./stylesheets/index.min.css")
		-var title = "index";
	body
		include ./includes/header.pug
		main
			if env == "development"
				img#titleImage(src = "./../images/vertigo-logo.svg")
			else
				img#titleImage(src = "./images/vertigo-logo.svg")
			p.
				Vertigo is a First Tech Challenge team affiliated with Highland Park High School in Illinois. It is part of the District 113 robotics program. Though the 2016-2017 season is the team's initial forray into FIRST, the team is comprised of both seasoned veterans as well as new faces.
		include ./includes/footer.pug