doctype html
html
	head
		title Outreach
		meta(name = "description", content = "Vertigo has engaged in a large number of outreach events over the course of the season.")
		include ./includes/head.pug
		if env == "development"
			link(rel = "stylesheet" href = "./../stylesheets/outreach.min.css" )
		else
			link(rel = "stylesheet" href = "./stylesheets/outreach.min.css" )
		-var title = "outreach";
	body
		include ./includes/header.pug
		main#mainContent
			if env == "development"
				img#titleImage(src = "./../images/outreach-text.svg")
			else
				img#titleImage(src = "./images/outreach-text.svg")
		include ./includes/footer.pug