doctype html
html
	head
		title Outreach
		meta(name = "description", content = "Vertigo has engaged in a large number of outreach events over the course of the season.")
		include ./includes/head.pug
		if env == "development"
			link(rel = "stylesheet" href = "./../stylesheets/outreach.min.css" )
		else
			link(rel = "stylesheet" href = "./stylesheets/outreach.min.css" )
		-var title = "outreach";
	body
		include ./includes/header.pug
		main#mainContent
			if env == "development"
				img#titleImage(src = "./../images/outreach-text.svg")
			else
				img#titleImage(src = "./images/outreach-text.svg")
			p.
				Vertigo is immensely dedicated to giving back to both FIRST and our community, and we love increasing the prevelance of STEM through our various outreach events which are included below.
			ul
				li Volunteered at Illinois state championship
				li Demoed at the FRC midwest regional at University of Illinois at Chicago
				li Presented FIRST RES-Q robot to Accurate Metal Fabricating
				li Demoed robot at Museum of Science and Industry Block Party event
				li Helped the Israeli team attend FTC World Championship
				li Created demo robots for Illinois FIRST
				li Demoed robot at College of Lake County Robotics Festival
				li Taught class at Solomon Schechter School
				li Taught class at Lincoln Elementary School
				li Developed metal robots for demonstrations
				li Demoed at Rainbow PUSH Coalition
				li Programmed robot for Comcast commercial
				li Taught FTC programming and building workshop
				li Held FTC Workshops and Kickoff
				li Demoed Game at HP Lollapalooza
				li Provided entertainment at Boeing Family Day event
				li Demoed robots at Northwood Middle School
				li Presented on the Engineering Process at Edgewood Middle School
				li Helped Highland Park Public Library FLL team
		include ./includes/footer.pug