doctype html
html
	head
		title Outreach
		meta(name = "description", content = "Vertigo has engaged in a large number of outreach events over the course of the season.")
		include ./includes/head.pug
		if env == "development"
			link(rel = "stylesheet" href = "./../stylesheets/outreach.min.css" )
		else
			link(rel = "stylesheet" href = "./stylesheets/outreach.min.css" )
		-var title = "outreach";
	body
		include ./includes/header.pug
		main#mainContent
			if env == "development"
				img#titleImage(src = "./../images/outreach-text.svg")
			else
				img#titleImage(src = "./images/outreach-text.svg")
			p.
				Vertigo is immensely dedicated to giving back to both FIRST and our community, and we love increasing the prevelance of STEM through our various outreach events, many of which are included below:
			ul
				li Volunteered at 
					ul
						li Illinois state championship
						li HPHS Velocity Vortex Kickoff Workshops
						li HPHS Velocity Vortex Kickoff
						li HPHS Illinois Qualifying Tournament
				li Demoed at
					ul
						li FRC midwest regional at University of Illinois at Chicago
						li Accurate Metal Fabricating
						li Museum of Science and Industry Block Party event
						li College of Lake County Robotics Festival
						li Rainbow PUSH Coalition
						li HP Lollapalooza
						li Boeing Family Day event
						li Northwood Middle School
						li Edgewood Middle School
						li District 112 FLL Tournament
						li HPHS Posada
				li Taught
					ul
						li Class at Solomon Schechter School
						li Class at Lincoln Elementary School
						li FTC programming and building workshop
						li Class at Braeside Elementry School
						li Girls Gone Tech Day at Highland Park Library
				li Mentored
					ul
						li HPHS FTC Team 3785 Alluminati
						li Edgewood Middle School FLL Team Robo Foxes
						li Edgewood Middle School FTC Team 11049 Unstable Nucleus
				li Helped an Israeli team attend FTC World Championship
				li Created teaching robots for Illinois FIRST
				li Programmed robot for Comcast commercial
				li Helped Highland Park Public Library FLL team
				li Contributed to FTC forums and subreddit
		include ./includes/footer.pug