doctype html
html
	head
		title Sponsors
		include ./includes/head.pug
		link(rel = "stylesheet" href = "./../stylesheets/sponsors.min.css" )
		-var title = "sponsors";
	body
		include ./includes/header.pug
		main#mainContent
			img#titleImage(src = "./../images/sponsors-text.svg")
		include ./includes/footer.pug