doctype html
html
	head
		title Sponsors
		meta(name = "description", content = "Here is a list Vertigo's incredible sponsors.")
		include ./includes/head.pug
		if env == "development"
			link(rel = "stylesheet" href = "./../stylesheets/sponsors.min.css" )
		else
			link(rel = "stylesheet" href = "./stylesheets/sponsors.min.css" )
		-var title = "sponsors";
	body
		include ./includes/header.pug
		main#mainContent
			if env == "development"
				img#titleImage(src = "./../images/sponsors-text.svg")
				br
				img#baxterLogo.logo(src = "./../images/baxter-logo.png")
				br
				img#accurateLogo.logo(src = "./../images/accurate-logo.png")
				br
				img#rockspotLogo.logo(src = "./../images/rockspot-logo.jpeg")
			else
				img#titleImage.logo(src = "./images/sponsors-text.svg")
				br
				img#baxterLogo.lofo(src = "./images/baxter-logo.png")
				br
				img#accurateLogo.logo(src = "./images/accurate-logo.png")
				br
				img#rockspotLogo.logo(src = "./images/rockspot-logo.jpeg")
				br
		include ./includes/footer.pug