doctype html
html
	head
		title Sponsors
		meta(name = "description", content = "Here is a list Vertigo's incredible sponsors.")
		include ./includes/head.pug
		if env == "development"
			link(rel = "stylesheet" href = "./../stylesheets/sponsors.min.css" )
		else
			link(rel = "stylesheet" href = "./stylesheets/sponsors.min.css" )
		-var title = "sponsors";
	body
		include ./includes/header.pug
		main#mainContent
			if env == "development"
				img#titleImage(src = "./../images/sponsors-text.svg")
			else
				img#titleImage(src = "./images/sponsors-text.svg")
		include ./includes/footer.pug